mixin page(modifier)
  div(class='page page_'+ modifier)
    if block
      block
    else
      p No content provided



//-***************************
 helper for image add, url started from "images/" folder, here example:

  +img(
      "image_in_root_img_folder.png",
      {
        title: "some title",
        className: "class image__class",
        width: "80",
        height: "80"
      })
//-*****************

mixin img(src, attrs)
  img(
      src='images/'+src
      alt=attrs.title
      title=attrs.title
      class=attrs.className
      width=attrs.width
      height=attrs.height)


mixin hero-content(title, image, pag_items)
  .hero.hero_inner(style="background: url("+image+") 50% 50%")
    .hero__wrapper.c-wrap
      h1.hero__title=title
      .hero__pagination.pagination.pagination_hero
        each val, index in pag_items
          if index === pag_items.length-1
            span.pagination__item.pagination__item_active= val.text
          else
            a.pagination__item(href=val.url)= val.text
