mixin page(modifier)
  div(class='page page_'+ modifier)
    if block
      block
    else
      p No content provided


mixin head(head_data)
    -
      var data_head = {
        title: 'Заголовок',
        description: 'Описание страницы',
        keywords: 'Ключевые слова'
      };
      if (!head_data) {head_data = data_head}

    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        //SEO
        title=head_data.title
        meta(name='description' content=head_data.description)
        meta(name='keywords' content=head_data.keywords)
        meta(property="og:url"          content="http://www.siteurl.com/" +page+".html")
        meta(property="og:type"         content=page)
        meta(property="og:title"        content=head_data.title)
        meta(property="og:description"  content=head_data.description)
        meta(property="og:image"        content=head_data.image)

        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        // Place favicon.ico in the root directory

        // build:css styles/vendor.css
        // bower:css
        // endbower
        // endbuild

        link(href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Ubuntu:400,500,500i&amp;subset=cyrillic"
        rel="stylesheet")
        // build:css styles/main.css
        link(rel='stylesheet', href='styles/' + page + '.css')
        // endbuild

        // build:js scripts/vendor/modernizr.js
        script(src='/bower_components/modernizr/modernizr.js')
        // endbuild


        <![if lt IE 10]>
        // build:js scripts/vendor/polyfills.js
        script(src='/bower_components/REM-unit-polyfill/js/rem.js')
        script(src='scripts/libs/selectivizr/selectivizr.js')
        // endbuild
        <![endif]>


//-***************************
 helper for image add, url started from "images/" folder, here example:

  +img(
      "image_in_root_img_folder.png",
      {
        title: "some title",
        className: "class image__class",
        width: "80",
        height: "80"
      })
//-*****************

mixin img(src, attrs)
  img(
      src='images/'+src
      alt=attrs.title
      title=attrs.title
      class=attrs.className
      width=attrs.width
      height=attrs.height)

//-*********
  Inner page hero mixin
//-********
mixin hero-content(title, image, pag_items)
  .hero.hero_inner(style="background: url("+image+") 50% 50%")
    .hero__wrapper.c-wrap
      h1.hero__title=title
      .hero__pagination.pagination.pagination_hero
        each val, index in pag_items
          if index === pag_items.length-1
            span.pagination__item.pagination__item_active= val.text
          else
            a.pagination__item(href=val.url)= val.text

//-
 Google Analytics mixin, input === id
//-
mixin analytics
  -var google_id = 'XXXXX-X'; //for example
  //-script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-'+google_id+'');ga('send','pageview');


//-
  sidebar mixin
//-
mixin sidebar(direction)
  if direction === 'left'
    aside.sidebar.sidebar_l
      if block
        block
      else
        p No content provided
  else if direction === 'right'
    aside.sidebar.sidebar_r
      if block
        block
      else
        p No content provided
